<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content" style="width:fit-content">
    <div class="modal-header">
      <h5 class="modal-title" style="margin-right: 3rem;" id="resumeModalLabel">Select language for
        resume</h5>
      <button type="button" class="close" aria-label="Close" onclick="closeModal()"
              style="border: none;background-color: unset">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" style="display: flex;gap: 5rem;justify-content: center;">
      <a href="https://drive.google.com/file/d/1pY-3wQpum-kKVSE0pYxO6Wc_NlVX9rrW/view?usp=sharing"
         target="_blank" rel="noopener" onclick="closeModal()">
        <button type="button" class="btn btn-primary">English</button>
      </a>
      <a href="https://drive.google.com/file/d/1EJKIP3O0J4rgHQWGo7l71Z6sZZOaFPdG/view?usp=sharing"
         target="_blank" rel="noopener" onclick="closeModal()">
        <button type="button" class="btn btn-primary">French</button>
      </a>
    </div>
  </div>
</div>